
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">

    <div class="row">
        


<!-- 2nd side start -->
   
    
<div class="col-md-12">
    <div class='panel panel-primary'> 
        <div class='panel-heading'>
     <h1>DealerBankDetails</h1><br>
    </div>
     <div class='panel-body'>
         <div class='table-responsive'>
            <table class="table table-striped"  id='dealerbankdetails'>
                <tbody >
                    <th>dealer_bId</th>
                    <th>dealer_Name</th>
                    <th>dealer_AdharNo</th>
                    <th>dealer_AccountNo</th>
                    <th>dealer_BankName</th>
                    <th>dealer_BankIfscCode</th>
                    <th> dealer_BankAddress</th>
                    
                   
                    <tr *ngFor='let dbd of  dealerbankdetails'>
                    <td>{{dbd.dealer_bId}}</td>
                    <td>{{dbd.dealer_Name}}</td>
                    <td>{{dbd.dealer_AdharNo}}</td>
                    <td>{{dbd.dealer_AccountNo}}</td>
                    <td>{{dbd.dealer_BankName}}</td>
                    <td>{{dbd.dealer_BankIfscCode}}</td>
                    <td>{{dbd.dealer_BankAddress}}</td>
                    
                    
                </tr>
                </tbody>
            </table>
</div>
</div>     
</div>
</div>
</div>
<button (click)="downloadPdf()">Download pdf</button>







