
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">

    <div class="row">
        


<!-- 2nd side start -->
   
    
<div class="col-md-12">
    <div class='panel panel-primary'> 
        <div class='panel-heading'>
     <h1>CustomerDetails</h1><br>
    </div>
     <div class='panel-body'>
         <div class='table-responsive'>
            <table class="table table-striped" id='customerdetails'>
                <tbody >
                    <th> customer_id</th>
                    <th> cname</th>
                    <th> customer_mob</th>
                    <th>cutomer_emailid</th>
                    <th>customer_gender</th>
                    <th>customer_age</th>
                    <th>customer_qualification</th>
                    <th> customer_income_details</th>
                    <th>customer_occupation_type</th>
                    <th> loan_no</th>
                    <th>marital_status</th>
                    <th>cutomer_status_code</th>
                    <th>customer_address_details</th>
                    <th>gaurantor_details</th>
                   
                    <tr *ngFor='let cd of  customerdetails'>
                    <td>{{cd.customer_id}}</td>
                    <td>{{cd.cname}}</td>
                    <td>{{cd.customer_mob}}</td>
                    <td>{{cd.cutomer_emailid}}</td>
                    <td>{{cd.customer_gender}}</td>
                    <td>{{cd.customer_age}}</td>
                    <td>{{cd.customer_qualification}}</td>
                    <td>{{cd.customer_income_details}}</td>
                    <td>{{cd.customer_occupation_type}}</td>
                    <td>{{cd.loan_no}}</td>
                    <td>{{cd.marital_status}}</td>
                    <td>{{cd.cutomer_status_code}}</td>
                    <td>{{cd.customer_address_details}}</td>
                    <td>{{cd.gaurantor_details}}</td>
                    
                    
                </tr>
                </tbody>
            </table>

</div>
</div>     
</div>
</div>
</div>
<button (click)="downloadPdf()">Download pdf</button>




