
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">

    <div class="row">
        


<!-- 2nd side start -->
   
    
<div class="col-md-12">
    <div class='panel panel-primary'> 
        <div class='panel-heading'>
     <h1>PerviousLoanDetails</h1><br>
    </div>
     <div class='panel-body'>
         <div class='table-responsive'>
            <table class="table table-striped" id='previousloandetails'>
                <tbody >
                    <th>Loan Id</th>
                    <th>Remaining EMI</th>
                    <th>Remaining Amount</th>


                  <tr *ngFor='let pemi of previousloandetails'> 
                     <td>{{pemi.id}}</td>
                     <td>{{pemi.remainingEmi}}</td>
                     <td>{{pemi.remainingAmount}}</td>

                 </tr>
                </tbody>
            </table>
            

</div>
</div>     
</div>
</div>
</div>
<button (click)="downloadPdf()">Download pdf</button>

