<p>role-details works!</p>





<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container" id="role">

    <div class="row">
        <!-- <div class="col-md-6">
            
        </div> -->



   
    
<div class="col-md-18">
    <div class='panel panel-primary'> 
        <div class='panel-heading'>
     <h3>Role details</h3><br>
    </div>
     <div class='panel-body'>
         <div class='table-responsive'>
            <table class="table table-striped">
                <tbody >
                    <tr>
                        <th>roleId</th>
                        <th>roleName</th>
                        <th>roleUsername</th>
                        <th>rolePassword</th>
                        <th>roleCode</th>
                    </tr>
                    
                      
                  
                       
                  <tr *ngFor='let leda of roleDetails'>
                    <td>{{leda.roleId}}</td>
                    <td>{{leda.roleName}}</td>
                    <td>{{leda.roleUsername}}</td>
                    <td>{{leda.rolePassword}}</td>
                    <td>{{leda.roleCode}}</td>
            </tr>   
                </tbody>
              </table>  

</div>
</div>     
</div>
</div>
</div>






<button (click)="downloadPdf()">Genrate PDF</button>


