<p>enquire-details works!</p>



<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container" id="enquire">

    <div class="row">
        <!-- <div class="col-md-6">
            
        </div> -->



   
    
<div class="col-md-18">
    <div class='panel panel-primary'> 
        <div class='panel-heading'>
     <h3>Enquiry details</h3><br>
    </div>
     <div class='panel-body'>
         <div class='table-responsive'>
            <table class="table table-striped">
                <tbody >
                    <tr>
                        <th>customerId</th>
                        <th>customerName</th>
                        <th>customerDoB</th>
                        <th>customerEmailId</th>
                        <th>customerMobileNo</th>
                        <th>customerAdharCardNo</th>
                        <th>customerLocalAddress</th>
                        <th>customerPermanentAddress</th>
                        <th>customerLoanAmountRequired</th>
                        <th>customerProfession</th>
                        <th>customerGender</th>
                    </tr>
                    
                      
                  
                       
                  <tr *ngFor='let leda of enquire'>
                    <td>{{leda.customerId}}</td>
                    <td>{{leda.customerName}}</td>
                    <td>{{leda.customerDoB}}</td>
                    <td>{{leda.customerEmailId}}</td>
                    <td>{{leda.customerMobileNo}}</td>
                   <td>{{leda.customerAdharCardNo}}</td>
                   <td>{{leda.customerLocalAddress}}</td>
                   <td>{{leda.customerPermanentAddress}}</td>
                   <td>{{leda.customerLoanAmountRequired}}</td>
                   <td>{{leda.customerProfession}}</td>
                   <td>{{leda.customerGender}}</td>
          
            </tr>   
                </tbody>
              </table>  

</div>
</div>     
</div>
</div>
</div>






<button (click)="downloadPdf()">Genrate PDF</button>